<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Email</th>
      <th>Idade</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @classmates.each do |classmate| %>
      <tr>
        <td><%= classmate.first_name %></td>
        <td><%= classmate.last_name %></td>
        <td><%= classmate.email %></td>
        <td><%= classmate.age %></td>
        <td>
          <%= link_to 'Show', classmate, class: 'btn btn-dark mr-2' %>
          <%= link_to 'Edit', edit_classmate_path(classmate), class: 'btn btn-dark mr-2' %>
          <%= link_to 'Destroy', classmate, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-dark' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Classmate', new_classmate_path, class: 'btn btn-primary' %>
