<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">
    Colega <%= @classmate.id %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @classmate.first_name %> <%= @classmate.last_name %></h5>
    <p class="card-text">Email: <%= @classmate.email %></p>
    <p class="card-text">Idade: <%= @classmate.age %></p>
    <%= link_to 'Edit', edit_classmate_path(@classmate), class: 'btn btn-dark' %>
    <%= link_to 'Back', classmates_path, class: 'btn btn-dark' %>
  </div>
</div>


